@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono", monospace;
  background-color: #111;
  background-image: radial-gradient(#2e3c51 2px, transparent 2px),
    radial-gradient(#2e3c51 2px, #10151d 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;

  background-repeat: repeat;
  animation: moveUp 10s linear infinite; /* Adjust the animation duration for a slower speed */
}

@keyframes moveUp {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 -80px, 0 -80px;
  }
}
